bidict==0.23.1
catkin-pkg==1.0.0
certifi==2024.2.2
charset-normalizer==3.3.2
controller==0.1.0
distro==1.9.0
docutils==0.21.1
h11==0.14.0
idna==3.7
lxml==5.2.1
numpy==1.26.4
opencv-python==4.9.0.80
pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-engineio==4.9.0
python-socketio==5.11.2
PyYAML==6.0.1
requests==2.31.0
rospkg==1.5.0
setuptools==68.2.2
simple-websocket==1.0.0
six==1.16.0
urdf2webots==2023.1.0
urllib3==2.2.1
wheel==0.41.2
wsproto==1.2.0
